<table class=" table table-striped sortable">
<thead>
  <tr>
    <th>Position</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email Address</th>
    <th>Points</th>
    <th>Rank</th>
  </tr>
</thead>
<% @count = 1 %>
<% @users.each do |user| %>
 <tbody>
     <tr>
       <td><%= @count %></td>
       <% @count += 1 %>
      <td><%= user.fname %></td>
      <td><%= user.lname %></td>
      <td><%= user.email %></td>
      <% if user.point != nil %>
      <td><%= user.point %></td>
      <%else%>
      <td><%=0 %></td>
      <%end%>

      <% if user.rankicon %>
      <td><%= image_tag user.rankicon, class: "img-thumbnail", height: '50', width: '50' %></td>
      <% else %>
      <td>Not Ranked </td>
      <% end %>
    </tr>

 </tbody>

<% end %>
