<% provide(:title, @user.fname) %>
<h1>
  <%= gravatar_for @user %>  
</h1><br><br>

<table class=" table table-striped sortable">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Adress</th>
      <th>Points</th>
    </tr>
  </thead>

 <tbody>
   
     <tr>
      <td><%= @user.fname %></td>
      <td><%= @user.lname %></td>
      <td><%= @user.email %></td>
      <% if @user.point != nil %>
      <td><%= @user.point %></td>
      <%else%>
      <td><%=0 %>
      <%end%>
    </tr>
   
 </tbody>



