<%= link_to current_user.avatar.url(:thumb) , current_user %>
<%= image_tag current_user.rankicon, height: '70', width: '70' %>
<h1><%= current_user.fname %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.reviews.count, "review") %></span>
